.appContainer {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  min-height: 100vh;
}
.responsiveContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
.heading {
  color: #0f172a;
  font-family: 'Lobster';
  font-size: 48px;
  margin-bottom: 48px;
}
.filtersList {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0px;
}
.repositoriesList {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0px;
  max-width: 1140px;
}

.failureViewContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.failureImg {
  width: 250px;
  height: 180px;
}
.errorMessage {
  text-align: center;
  color: #334155;
  font-size: 'Bree Serif';
  font-size: 28px;
}
@media screen and (min-width: 768px) {
  .failureImg {
    width: 527px;
    height: 393px;
  }
  .errorMessage {
    font-size: 48px;
  }
}
